.big-box {
    background-color: lightgrey;
    height: 200px;
    width: 300px;
    position: relative;
}
.small-box1 {
    background-color: rgb(66, 64, 83);
    height: 50px;
    width: 50px;
    margin: 5px;
    position: relative;
    left: 55px;
    /* transform: skew(10deg); */
}
.small-box2 {
    background-color: rgb(156, 138, 138);
    height: 50px;
    width: 50px;
    margin: 5px;
    position: absolute;
    left: 55px;
    /* transform: scale(1.5); */
}
.container {
    width: 500px;
    height: 100px;
}
.small-box3 {
    background-color: rgb(121, 48, 48);
    height: 50px;
    width: 50px;
    margin: 5px;
    position: absolute;
    left: 110px;
    top: 55px;
    z-index: 999;
}
.small-box4 {
    background-color: rgb(121, 48, 115);
    height: 50px;
    width: 50px;
    margin: 5px;
    /* position: absolute; */
    right: 0px;
    top: 130px;
    position: absolute;
    transform: translate(100px);
}
.small-box5 {
    background-color: rgb(121, 48, 115);
    height: 50px;
    width: 50px;
    margin: 5px;
    /* position: absolute; */
    right: 65px;
    top: 130px;
    position: absolute;
    transform: scale(0.5);
}
.small-box6 {
    background-color: rgb(121, 48, 115);
    height: 50px;
    width: 50px;
    margin: 5px;
    /* position: absolute; */
    right: 150px;
    top: 130px;
    position: absolute;
    transform: rotate(10deg);
}
.small-box7 {
    background-color: rgb(121, 48, 115);
    height: 50px;
    width: 50px;
    margin: 5px;
    /* position: absolute; */
    right: 230px;
    top: 130px;
    position: absolute;
    transform: skew(10deg);
}
.box2:hover {
    background-color: rgb(151, 44, 44);
    height: 50px;
    width: 50px;
    margin: 20px 0px;
    position: relative;
    color: white;
    /* border: 3px pink solid; */
    transform: skew(10deg) scale(2) translateX(50px);
    /* transform: scale(2); */
    transition: 1s;
    transition-delay: 0.5s;
    /* transition-duration: 1s; */
    transition-timing-function: ease-in;
}
.box3 {
    background-color: rgb(141, 123, 123);
    color: black;
    text-align: center;
    height: 300px;
    width: 300px;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    /* justify-content: stretch; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-content: flex-start; */
    /* flex-basis: ; */
}
.sb {
    background-color: pink;
    width: 50px;
    height: 50px;
    /* position: absolute; */
    /* absolute포지션 경우 display: flex가 적용되지 않음 */
    margin: 5px;
}
.sb12:hover {
    transform: scale(2) rotate(45deg);
    transition: 0.5s;
    transition-delay: .5s;
    
}
