<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가입 확인</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="../static/css/success.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="container">
      <div class="container2">
      <svg class="img2" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><defs><linearGradient id="a" x1="100%" x2="0%" y1="0%" y2="100%"><stop offset="0%" stop-color="#FF6A3A"/><stop offset="100%" stop-color="#FF527B"/></linearGradient></defs><g fill="none"><circle cx="32" cy="32" r="32" fill="url(#a)"/><path stroke="#FFF" stroke-width="4" d="m18.286 34.686 8.334 7.98 19.094-18.285"/></g></svg>
      <h1 class="box1 box">Thanks for subscribing!</h1>
      <div class="box2 box">A confimation email has been sent to <b>135qudwls@naver.com</b>. Please open it and click the button inside to  confirm your subscription.</div>
      <a href="/"><button class="box3 box" type="button" onclick="dismissMessage()">Dismiss message</button></a>
      <!-- index에서 db로 저장한 값 불러오기 실패 -->
      
    </div>
    </div>
    <form name="register-success">
    </form>
    <script>
      function dismissMessage() {}
    </script>
  </body>
</html>
