<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <form action="/getForm" method="get">
    아이디: <input type="text" name="id" required pattern="^([a-zA-Z0-9]){4,10}$" title="대소문자, 한글불가, 숫자, 4자이상, 10자 이하">
    비밀번호: <input type="password" name="password" required>
    <button type="submit">get제출</button>
</form>
    <form action="/postForm" method="post">
        아이디: <input type="text" name="id" required pattern="^([a-zA-Z0-9]){4,10}$" title="대소문자, 한글불가, 숫자, 4자이상, 10자 이하">
        비밀번호: <input type="password" name="password" required>
        <button type="submit">post제출</button>
    </form>
  </body>
</html>
