* {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}
header.header {
  display: flex;
  height: 80px;
  background-color: rgb(136, 133, 145);
}
::placeholder {
  color: rgb(0, 0, 0);
}
div.nav {
  display: flex;
}
.container {
  display: flex;
}
.container div {
  border: 3px solid black;
  margin: 10px;
  width: 200px;
  height: 300px;
}
div.container #box1 {
  background-color: lightpink;
}
div.container #box2 {
  background-color: lightgreen;
}
div.container #box3 {
  background-color: lightsalmon;
}
div.container #box4 {
  background-color: lightseagreen;
}
input#coin {
  height: 50px;
  width: 50px;
  color: rgb(0, 0, 0);
}
input#urChoice {
  height: 50px;
  width: 100px;
  color: rgb(0, 0, 0);
}
input#urCoin {
  height: 50px;
  width: 70px;
  color: rgb(0, 0, 0);
}
input#urTotalCoin {
  height: 50px;
  width: 110px;
  color: rgb(0, 0, 0);
}
div.container2 {
  display: flex;
  flex-direction: column;
}
button#up {
  height: 20px;
  width: 20px;
}
button#down {
  height: 20px;
  width: 20px;
}
button#run {
  height: 20px;
  width: 20px;
}
