<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />

    <title>Frontend Mentor | E-commerce product page</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <header class="header container">
      <div class="header1 container">
        <div class="hdM hd">sneakers</div>
      </div>
      <div class="header2 container">
        <div class="hd1 hd hd_2">Collections</div>
        <div class="hd2 hd hd_2">Men</div>
        <div class="hd3 hd hd_2">Women</div>
        <div class="hd4 hd hd_2">About</div>
        <div class="hd5 hd hd_2">Contact</div>
      </div>
      <div class="header3 container">
        <div class="hd6 hd hd_3">장바구니</div>
        <div class="hd7 hd hd_3">프로필</div>
      </div>
    </header>
    <!-- 메인 컨테이너 -->
    <div class="containerBig container">
      <!-- 왼쪽 컨테이너 ct -->
      <div class="containerSmall1 container">
        <!-- 왼쪽 상단 컨테이너 -->
        <div class="ct_s1 container">
          <div class="img1">큰사진</div>
        </div>
        <!-- 왼쪽 하단 컨테이너 -->
        <div class="ct_s2 container">
          <div class="img2 img_2">작은사진1</div>
          <div class="img3 img_2">작은사진2</div>
          <div class="img4 img_2">작은사진3</div>
          <div class="img5 img_2">작은사진4</div>
        </div>
      </div>
      <!-- 오른쪽 컨테이너 ct2 -->
      <div class="containerSmall2 container">
        <div class="ct2_obj1 ct2_obj">SNEAKER COMPANY</div>
        <div class="ct2_obj2 ct2_obj">Fall Limited Edition Sneakers</div>
        <div class="ct2_obj3 ct2_obj">
          These low-pofile sneakers are your perfect casual wear companion. Featuring a durable
          rubber outer sole, they'll withstand everything the weather can offer.
        </div>
        <!-- 오른쪽 중단 컨테이너 -->
        <div class="ct2_s2_1">
          <div class="ct2_obj4 ct2_obj">$125.00</div>
          <div class="ct2_obj5 ct2_obj">50%</div>
        </div>
        <div class="ct2_obj6 ct2_obj">-$250.00-</div>
        <!-- 오른쪽 하단 컨테이너 form -->
        <div class="ct2_s2_2">
          <div class="ct2_obj7 ct2_obj">- 0 +</div>
          <div class="ct2_obj8 ct2_obj">Add to cart</div>
        </div>
      </div>
    </div>
  </body>
</html>
